@import 'tailwindcss';

@theme {
  --font-sans:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  --color-white: rgb(231, 233, 234);
  --color-black: #000;

  /* breakpoints */
  --breakpoint-tablet: 31.25rem;
  --breakpoint-desktop: 61.875rem;
  --breakpoint-desktop-large: 79.0625rem;
}
